* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html, body {
    width: 100%;
    float: left;
}

body{
    background: #f9f9f9;
}

.fs-14{
    font-size: 14px !important
}

.fs-16{
    font-size: 16px !important
}

.fs-20{
    font-size: 20px !important
}

.react-autosuggest__container {
  position: relative;
  width: 100%;
}

.searchHome .react-autosuggest__input{
  height: 40px;
}

.react-autosuggest__input {
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px 0px 0px 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 100%;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.react-autosuggest__suggestion-match {
  color: red;
  font-weight: bold;
}

/*.searchHome button{
    line-height: 2;
}*/

.input-group-append button{
    width: 100%;
    background-color: #56A366 !important;
    border-radius: 0px 4px 4px 0px;
}

.row{
    width: 100%;
    margin-left: 0px !important;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.bgCommon{
    background-color: #00182e;
}

.headerSize{
    padding-top: 2em;
    margin-bottom: 2em;
}

.main_header {
    width: inherit;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar-brand{
    margin-right: 0px!important;
}
.navbar-brand img{
    height: 48px;
    width:82%;
}
.headerMenu{
    list-style: none;
    display: flex;
    margin: 0px 200px 0px 200px;
    /*margin-right: 200px;*/
    padding : 0.5em;
}
.menuList {
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: 1px solid #d6d4d4;
    cursor:pointer;
    color: #00182e;
}
.menuList:last-child {
    border-right: none;
}
.content-wrapper {
    background: #f9f9f9;
}
.main_header .navbar-nav {
    flex-direction: row;
}
.agent {
    padding: .5em .5em;
    position: relative;
    top: 15px;
    cursor: pointer;
    color: #fff;
    border-radius:25px;
    background-color: #56a365;
}
.searchContainer{
    /*background: linear-gradient(180deg,#f39935,#df293a);*/
    background-image: url('https://s3.ap-south-1.amazonaws.com/homesfy.in/common/Banner.jpg');
    background-repeat: no-repeat;
    /*background-position:top;*/
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    padding: 5em 0 8em;
    margin-bottom: 18px;
    position: relative; 
}


.Title {
    width: 100%;
    float: left;
    position: relative;
    padding-left: 93px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.3rem;
    color: #00182E;
}
.Title:before {
    position: absolute;
    content: '';
    left: 0;
    top: 13px;
    width: 70px;
    height: 4px;
    background-color: #205881;
    border-radius: 27px;
}

img.City {
    width:100%;
    float: left;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    top: 9%;
}
.MagnetCity {
    background: url("https://s3.ap-south-1.amazonaws.com/homesfy.in/common/MagnateDesktop.jpg");
    background-size: auto;
    background-position: 63px center;
    background-repeat: no-repeat;
}

.BlogSection {
    width: 100%;
    float: left;
    padding: 25px;
    box-sizing: border-box;
}
.BlogSection:hover {
    transition: all ease 0.3s;
    box-shadow: 5px 5px 26px 4px #ccc;
}
.BlogSection img {
    box-shadow: inset 2px 2px 27px -13px #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
.BlogSection .Heading {
    margin: -36px auto 14px;
    bottom: 0;
    padding: 5px 20px;
    background-color: #205881;
    border-radius: 25px;
    color: #fff;
    font-size: 12px;
}

.BlogSection .h4 {
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    color: #205881;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.BlogSection .Content {
    width: 100%;
    float: left;
}
.BlogSection .Content p {
    font-size: 13px;
    text-align: center;
    color: #000;
}
.BlogSection a {
    text-decoration: none;
    opacity: 0;
    width: 100%;
    /*position: absolute;*/
    text-align: center;
    /*bottom: -35px;*/
    /*left: 0;*/
    text-align: center;
    color: #205881;
}
.BlogSection:hover a {
    opacity: 1;
    transition:all ease 0.6s;
}
.BlogSection a:before {content: '';position: absolute;left: 0;width: 2px;height: 40px;top: -40px;background-color: #205881;right: 0;text-align: center;margin: 0 auto;}
.slide {
    text-align: center;
}

.aboutImage img{
    width: 100%;
}

.HighLightIcon {
    text-indent: 63px;
    font-size: 101px;
    position: absolute;
    opacity: 0.3;
}
.FontFamilyCursive {
    font-family: 'Great Vibes', cursive;
}

.searchCommon {
    width: 35%;
    margin-left: 9%;
}

#ContactUsForm svg, #ModalForm svg {
    font-size: 20px;
    margin-top: 11px;
    margin-left: 14px;
    opacity: 0.5;
}

.contactForm{
    border: 0!important;
    border-radius: 0!important;
    padding: 10px 10px!important;
    background-color: transparent!important;
    position: relative!important;
    z-index: 2!important;
    font-size: 0.9rem!important;
}
.GreenColor {
    color: #049b5a;
}
.darkColor {
    color: #049b5a;
}
.btnCommon {
    background-color: #8ccbea!important;
}
.formModel{
    border: none!important;
}
.leadForm {
    position: fixed;
    z-index: 1000;
    bottom: 50px;
    right: 10px;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(243, 155, 53)!important;
}
.homeBorder{
    border-bottom: 1px solid !important;
    border-color: rgb(243, 155, 53)!important ;
}
.navbar-light .navbar-nav .active>.nav-link {
    color: rgb(243, 155, 53)!important;
}


.searchWrap input{
    height: 40px;
}

.site_img {
    width: 72%;
    height: 52px;
}
.searchContainerTitle{
    color: #fff;
    font-size: 32px;
    font-weight: 800;
    line-height: 1.5;
    margin: 16px 0;
    text-align: center;
    text-shadow: 2px 2px #777777, 2px 2px 0px rgba(0,0,0,0.15);
}

btn:disabled  {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    cursor: not-allowed !important;
}

.facebook{
    color: #3b5998;
}

.linkdin{
    color:  #0e76a8;
}


.textEllipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.react-multiple-carousel__arrow{
    background-color: #e2dfdf!important;
}

.react-multiple-carousel__arrow--left{
    left:0px!important;
    background-color: none;
}
.react-multiple-carousel__arrow--left::before, .react-multiple-carousel__arrow--right::before{
    background-color: none;
    color:#444!important;
} 

.react-multiple-carousel__arrow--right{
    right:0px!important;
    background-color:none;
}
/*.featuredSection{
    margin: 32px 0;
    padding: 0px 10px;
}*/
.launch_block{
    padding: 0px!important;
}
.new_launch{
    border: 1px solid #d2d2d2;
}
.palce_container img{
    height:100%;
    width: 100%;
}

.palce_container{
    width: 100%;
    height: 210px;
    position: relative;
    transition: 0.25s ease-in-out 0s all;
    cursor: pointer;
}

.palce_container:hover {
    box-shadow: 0 0 3px 0px #505050;
    transition: 0.25s ease-in-out 0s all;
}

.palce_container span:hover {
    color: #fff!important;
    text-decoration: none;
}

.palce_container span {
    position: absolute;
    bottom: calc(50% - 30px);
    color: #56a365!important;
    white-space: normal;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 0 5px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.25s ease-in-out 0s all;
}

.palce_container:hover span {
    transition: 0.25s ease-in-out 0s all;
    color: #fff!important;
    bottom: 0px;
    padding: 5px;
    background: #8ccbea!important;
    color: #000000;
}

/*.headerStyleLine{
    width: 35%;
    display: inline-block;
    border-bottom: 1px solid #707070;
    opacity: .5;
    position: relative;
    top: 24px;
}*/
.leftCircleDiv:after {
    content: "";
    position: absolute;
    border: 1px solid #FD3753;
    top: -10px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    right: -20px;
}
.rightCircleDiv:before {
    content: "";
    position: absolute;
    border: 1px solid #FD3753;
    top: -10px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    left: -20px;
}

.socailIcon ul li a {
    font-size: 26px;
}

.cityDots{
    display: inline-block;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    overflow: hidden;
    margin-right: 12px;
}
.property_img img ,.thumb_img img{

    width: 100%;
    height: 100%;
}
.p_title {
    font-size: 12px;
    font-weight: 700;
    color:#00182e;
    padding-bottom: 3px;
}
.tag_name{
    position: absolute;
    left: 1px;
    width: 100%;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    padding: 0 10px;
}
.thumb_img{
    width: 100%;
    height: 210px;
    position: relative;
    transition: 0.25s ease-in-out 0s all;
    cursor: pointer;
}
.animity_icon{
    font-size: 24px;
}
.animity_name{
    font-size: 14px;
}
.desktopNavbar{
    background-color: #fff;
    border-top: 1px solid #333; 
    /*border-bottom: 1px solid #333; */
    color:#333;
}
.project_specs{ 
    background-color: #f4f6f9;
    color:#333;
}

.three_header {
    width: 100%;
    display: flex;
}
/*.homeHeader{
    width: 100%;
    display: flex;
    padding-top: 2em;
    margin-bottom: 2em;
}*/
.filter_media{
    display: none;
}
.filter_title{
    padding: 0px 10px;
    font-size: 1.2rem;
}
.filter_section{
    border: 1px solid #d2d2d2;
    background-color: #fff
}
.close_filter,.flter_funnel{
    display: none;
}
.apply_filter{
    float: right;
    background-color: #56A366 !important;
    /*border-radius: 6px;*/
    padding: 4px 8px !important;
    right: 8px;
    color: #fff !important;
    position: relative;
    cursor: pointer;
}

.bhk-count{
    padding: 0px!important;
}

.over_prop{
    font-size: 12px;
    color:#00182e;
    font-weight: 600;
}
.property_img{
    cursor: pointer;
    height: 100%;
}

.pagination li{
    padding: 4px 16px;
    background-color: #fff;
    border: 1px solid #e8e3e3;
    border-radius: 2px; 
    cursor: pointer;
}
.pagination a{
    color:#333;
}
.paginationBlock{
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1em;
    margin-bottom: 1em;
}

.productTitle h4{
    color: #00182e;
}
.footerSec{
    border-top: 1px solid #f39b35;
}
.p_value{
    padding-left: 4px;
}
.filter_bhk{
    cursor: pointer;
}
.project_detail{
    padding: 0px 10px;
}

.featureProcName{
    font-size: 14px;
}

.apply_filter[disabled]{
    cursor: not-allowed;
}

 .socailIcon ul {
    float : none !important;
}
.copyRight{
    /*padding-top: 1em;*/
    /*padding-bottom: 3em;*/
    text-align: left;
    color:#fff;
}


/* ===================================================================================================*/

@media only screen and (max-width:991px){
    .navbar {

        margin: 0px!important;
        padding: .5rem 1rem !important;
        border-bottom: 1px solid #dee2e6;
    }
    .three_header{
        display: block;
        top: 52px;
        width: 230px;
        margin-left: -246px;
        right: 10px;
        background: 0 0 rgba(0, 0, 0, 0.8);
        height: 100%;
        position: fixed;
        left: 0;
        -moz-transition: all 0.4s linear 0s;
        -webkit-transition: all 0.4s linear 0s;
        -ms-transition: all 0.4s linear 0s;
        transition: all 0.4s linear 0s;
        z-index: 100;
    }
    .three_header_mobile{
        margin-left: 0px!important;
    }
    .media_menu,.p_value,.over_prop{
        font-size: 12px;
    }
    .three_bar{
        position: relative;
        font-size: 20px;
        z-index: 10;
        top: 4px;
        right: 0px;
    }
    .site_img {
        width: 100%;
        height: 38px;
    }
    .MagnetCity {
       background:transparent;
    }
    .pad_zero{
        padding: 0px!important;
    }
    .filter_section{
        border: none;
    }
    .flat_address{
        float: left;
    }
    .filter_media,.flter_funnel{
        display: inline-block;
    }
    .filter_title{
        font-size: 18px;
    }
    .media_filter_block {
        position: fixed!important;
        left: 8%;
        background-color: #fff;
        z-index: 100;
        top: 10%;
        padding: 1rem;
        box-shadow: 5px 5px 5px 5px rgba(68, 68, 68, 0.6);
    }
    .close_filter{
        display: block;
        float: right;
        font-size: 20px;
    }
    .temp_filter {
        width: max-content;
        position: fixed;
        top: 4em;
        z-index: 90;
        right: -3px;
    }
    .media_sidebar{
        border-bottom: 1px solid #fff;
        margin-top: 10px; 
    }
    .mobile_search{
        font-size: 20px;
        position: relative;
        top: 0px;
        margin-left: 6px;
    }
    .hide{
        display: none!important;
    }
    .filter_bhk,.custom-select{
        font-size: 12px !important;
    }

    .searchContainerTitle{
        font-size: 17px;
    }
    .heading{
        font-size: 16px!important;
    }
    /*.homesExpand_icon{
        display: none;
    }*/
    .prop_search{
        width: 100%;
        background-color: #56A366 !important;
    }
    .searchWrap input {
        height: auto;
    }
    .searchCommon {
        width: 100%;
        padding-top: 10px;
    }

    .MagnetCity .container{
        padding: 1em !important;
    }

    .socailIcon ul {
        float : none !important;
    }
    .copyRight{
        padding-top: 1em;
        padding-bottom: 0.5em;
        text-align: left;
        color:#fff;
    }
    .searchContainer{
        background-size: cover;
    }
    .Title {
        padding-left: 40px;
        font-size: 1rem;
    }
    .Title:before {
        top: 8px;
        width: 36px;
    }
    .modal-title{
        font-size: 1rem!important;
    }
    
}


/*========================================================================*/

hr{
    margin: 10px 0px 10px!important;
}

.pagination .active{
    background-color: #d2d2d2;
}

.desk-none{
    display: none;
}

.show{
    display: block;
}
.hide{
    display: none;
}
.suggestList{
    border-radius: 4px;
    padding: 8px 8px;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
}
.suggestList:hover, .activeList{
    background-color: #f3f5f7!important;
}

.searchSuggestion{
    top: calc(100% + 8px);
    border: none;
}
.popup {
    position: absolute;
    left: 0;
    border-radius: 4px;
    box-shadow: 2px 4px 6px 2px rgba(0,0,0,.1), 0 12px 11px 2px rgba(0,0,0,.1);
    border: 1px solid #d6d6d6;
    overflow: hidden;
    z-index: 40;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;

}

.t-capital{
    text-transform: capitalize;
}

.heading {
    font-size: 26px;
    font-weight: 700;
    color: #333;
}

@media(max-width: 768px){

    .desk-none{
    display: block;}

    .searchCombo {
        width: 100%;
    }
}

@media(max-width: 425px){

    .searchCombo {
        width: 100%;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-size: 12px;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      font-size: 12px;
    }
    :-ms-input-placeholder { /* IE 10+ */
      font-size: 12px;
    }
    :-moz-placeholder { /* Firefox 18- */
      font-size: 12px;
    }

    .searchHome .btn{
        padding: .1rem .35rem;
        line-height: 2;
    }
    .searchHome .react-autosuggest__input{
        padding: 10px 10px;
    }
}

@media only screen and (max-width:1200px){
    .searchCommon{
        margin-left: 0;
    }
}

a:focus, input:focus, button:focus{
    outline: none!important;
    box-shadow: none!important;
}

.know-head{
    font-size: small;
    font-weight: 700;
}
.disTitleInfo p, .disTitleInfo li{
    font-size: small;
}
.aboutTitle{
    font-size: xx-large;
    line-height: inherit;
    margin: 0 0 10px 0;
}

/*==================BYOB=========================*/

.orgColor{
    color: #ff9447 !important;
}

.slideshow-video-background__image, .slideshow-video-background__slideshow, .slideshow-video-background__video {
    height: 650px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.microsite-stage__content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    flex: 1 1 auto;
    z-index: 1;
    width: 100%;
    top: 25%;
    color:#f8f8f8;
}

.microsite-stage__background-wrapper:before {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(72deg,#555,rgba(0,0,0,0.2));
    z-index: 1;
}

.microsite-stage__heading {
    font-size: 50px;
    font-weight: 700;
    margin-top: 12px;
    margin-bottom: 40px;
    max-width: 800px;
    text-align: center;
    font-family: "nunito";
}

.microsite-stage__subheading {
    margin-bottom: 45px;
    font-size: 24px;
}

.microsite-intro-copy {
    padding: 96px calc((100% - 790px)/2);
}

.microsite-intro-copy__heading {
    font-size: 64px;
    line-height: 1.13;
    margin-bottom: 40px;
    color: #ff9447;
    text-align: center;
    font-family: "nunito";
}

.microsite-intro-copy__description {
    font-size: 20px;
    line-height: 1.6;
}

.left-redbull-crousel{
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    position: relative;
}

.left-redbull-crousel img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.left-panel{
    position: relative;
}

.left-panel__heading {
    position: absolute;
    font-size: 64px;
    line-height: 1.13;
    margin-bottom: 0;
    padding-bottom: 40px;
    max-width: 500px;
    padding-left: 2em;
    top: 25%;
    font-family: "nunito";
    color:#f8f8f8;
    z-index: 10;
}

.right-panel__heading {
    position: absolute;
    font-size: 64px;
    line-height: 1.13;
    margin-bottom: 0;
    padding-bottom: 40px;
    max-width: 500px;
    padding-left: 0.5em;
    top: 35%;
    right: 0px;
    font-family: "nunito";
    color:#ff9447;
    z-index: 10;
    text-align: left;
}


.left-redbull-crousel:after {
    content: "";
    background-image: linear-gradient(270deg,transparent,rgba(0,0,0,.6));
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.right-redbull-crousel{
    width: 85%;
    height: 100%;
    left: 0%;
    top: 0%;
    position: relative;
}
.right-redbull-crousel:after{
    background-image: linear-gradient(90deg,hsla(0,0%,97.3%,0),#f8f8f8);
    height: 100%;
    top: 0;
    content: "";
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.left-panel__description {
    position: absolute;
    padding-left: 6.5em;
    font-size: 20px;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 65px;
    max-width: 588px;
    top:50%;
    color:#f8f8f8;
    z-index: 10;
}    
.right-crousel_para{
    position: absolute;
    padding-left: 8.3em;
    font-size: 20px;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 65px;
    max-width: 588px;
    top:50%;
    right: 0px;
    color:#1a1919;
    z-index: 10;
}

.redbull-charcter{
    background-color: #f8f8f8;
    position: relative;
    padding: 5em 9em 0em 9em;
    overflow: hidden;
}

.microsite-rail__heading {
    font-size: 32px;
    font-family: "nunito";
    line-height: 40px;
    font-weight: 600;
    margin-bottom: 1em;
}

.right-crousel {
    grid-gap: 24px;
    grid-template-columns: repeat(12,1fr);
    background-color: #f8f8f8;
    margin-top: 0;
    padding: 64px 8%;
}

.icon-list {
    padding: 96px 156px;
    background-color: #f8f8f8;
}

.icon-list__heading {
    font-size: 32px;
    line-height: 40px;
    font-family: "nunito";
    text-align: center;
    margin-bottom: 1.3em;
}

.para {
    padding: 0px 250px;
    text-align: center;
}

.icon-list__card-heading {
    font-size: 28px;
    color: #ff9447;
    font-family: "nunito";
    white-space: pre-line;
    text-align: center;
}

.icon-list__card-description {
    font-size: 20px;
    text-align: center;
}

.network-section {
    min-height: 70vh;
    position: relative;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.left-panel__background-wrapper--with-image-card {
    height: 500px;
    z-index: -1;
    overflow: hidden;
    width: 100%;
}
.left-panel__background-wrapper:after {
    content: "";
    background-image: linear-gradient(270deg,transparent,rgba(0,0,0,.6));
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.left-panel__background-inner-wrapper {
    width: 110%;
    height: 110%;
    left: -5%;
    top: -5%;
    position: relative;
}

.network-section-heading{
    font-size: 40px;
    line-height: 1.13;
    margin-bottom: 0;
    padding-bottom: 40px;
    max-width: 725px;
    font-family: "nunito";
    color: #f8f8f8;
    position: relative;
    padding-left: 5.2em;
    z-index: 10;
}

.network-section-description {
    font-size: 20px;
    line-height: 1.4;
    margin-left: 10.5em;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    padding-bottom: 65px;
    color: #f8f8f8;
    z-index: 10;
    max-width: 588px;
}

.hsg-cta-block__image-wrapper {
    text-align: center;
    position: absolute;
    right: 100px;
}

.hsg-cta-block__image {
    display: inline-block;
    text-align: right;
    width: 94%;
    height: 350px;
    margin: 0 auto;
}

.hsg-cta-block__image img{
    width: 58%;
    height: 400px;
}

.center-section-heading{
    font-size: 64px;
    line-height: 1.13;
    margin-bottom: 0;
    padding-bottom: 40px;
    max-width: 500px;
    color: #f8f8f8;
    font-family: "nunito";
    position: absolute;
    top:20%;
    left: 30%;
    padding-left: 2em;
    z-index: 10;
}

.center-section-description {
    font-size: 20px;
    line-height: 1.4;
    margin-left: 6.5em;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    top:60%;
    left: 30%;
    padding-bottom: 65px;
    color: #f8f8f8;
    z-index: 10;
    max-width: 588px;
}

.get-started-teaser__wrapper {
    background-color: #f8f8f8;
}

.get-started-teaser {
    max-width: 838px;
    padding: 96px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto; 
}

.get-started-teaser__kicker {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    border-bottom: 4px solid #ff9447;
    padding-bottom: 6px;
}

.get-started-teaser__heading {
    margin: 32px 0;
    font-size: 64px;
    font-family: "nunito";
    color: #ff9447;
}

.get-started-teaser__subheading {
    font-size: 36px;
    font-family: "nunito";
    line-height: 1.33;
    text-align: center;
}

.get-started-teaser__buttons-wrapper {
    width: 384px;
}

.rb-button--fullwidth {
    width: 100%;
}

.rb-button {
    font-size: 18px;
    padding: 13px 19px 13px 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: var(--ff-bull);
    text-align: center;
    border: 2px solid transparent;
    text-decoration: none;
    border-radius: 6px;
    transition: all .15s ease-in-out;
    pointer-events: all;
    cursor: pointer;
    height: 100%;
    line-height: 24px;
}

.rb-button--primary, .rb-button--primary-apply {
    color: #f8f8f8;
    background-color: #ff9447;
    border-color: #ff9447;
}

.rb-button--secondary-red {
    background-color: transparent;
    border: 1px solid #ff9447;
    color: #ff9447;
}

.rb-button--secondary-red .rb-button__icon {
    color: #ff9447;
}

.rb-button__icon {
    height: 24px;
    width: 24px;
    margin-right: 8px;
    color:#f8f8f8;
    transition: all .15s ease-in-out;
}

.icon-list__card-icon {
    flex-basis: 100px;
    margin: 0 0 20px;
    width: 100px;
    height: 100px;
}
.fs-60{
    font-size: 60px !important;
}

.get-started-teaser__button a, .get-started-teaser__button a:hover{
    text-decoration: none;
    color: #fff;
}

@media only screen and (max-width: 425px){
    .icon-list__heading {
        font-size: 32px;
        line-height: 40px;
    }
    .icon-list,.microsite-intro-copy,.microsite-rail,.redbull-charcter{
        padding: 48px 24px 24px 24px;
        background-color: #f8f8f8;
    }
    .left-panel__heading,.network-section-heading,.center-section-heading,.microsite-intro-copy__heading,.right-panel__heading,.get-started-teaser__heading,.microsite-stage__heading{
        font-size: 35px;
        max-width: 300px;
        padding-bottom: 25px;
    }
    .left-panel__description {
        font-size: 16px;
        margin: 48px 24px 24px;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 40px;
        max-width: 588px;
    }
    .icon-list__heading {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 46px;
        text-align: center;
    }

    .icon-list__card-heading,.network-section-description,.get-started-teaser__subheading,.microsite-stage__subheading{
        color: var(--color-red);
        font-size: 20px;
    }

    .para,.right-crousel_para,.network-section-description{
        font-size: 20px;
        padding: 48px 24px 24px 24px;
    }
    .center-section-description,.network-section-heading,.network-section-description{
        margin-left: 0px;
        color:#fff;
    }
    .get-started-teaser__buttons-wrapper{
        margin-top: 1em;
        width: 75%;
    }
    .microsite-stage__subheading{
        text-align: center;
    }
    .right-redbull-crousel{
        width: 100%;
    }
    .right-panel__heading{
        top:10%;
    }
    .right-crousel_para{
        top:20%;
        color:#fff;
    }
    .network-section-heading{
        font-size: 25px;
        max-width: none;
        padding: 48px 10px 24px 20px;
    }
    .hsg-cta-block__image{
        display: none;
    }
    .left-panel__background-wrapper:after,.right-redbull-crousel:after{
        background-image: linear-gradient(235deg,transparent,rgba(0,0,0,0.6));
    }
    .center-section-heading{
        left:0px;
        padding-left: 25px; 
    }
    .center-section-description{
        left: 0px;
        top:40%;
        padding-left: 1.2em; 
    }
    .right-crousel{
        padding: 0px;
    }
    .right-panel__heading{
        left:8px;
    }
    .get-started-teaser__heading{
        margin: 0px;
    }
    
}